include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include g1acs *.css
recursive-include g1acs *.csv
recursive-include g1acs *.html
recursive-include g1acs *.ico
recursive-include g1acs *.js
recursive-include g1acs *.json
recursive-include g1acs *.md
recursive-include g1acs *.png
recursive-include g1acs *.py
recursive-include g1acs *.svg
recursive-include g1acs *.txt
recursive-exclude g1acs *.pyc